
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Contact</title>
  </head>
  <body>
    <div class="container">
      <form method="get" action="/contact2">
        
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" name="name" class="form-control"placeholder="Name" id="exampleInputEmail1" aria-describedby="emailHelp">
      
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" name="email" oninput=checking(this.value) class="form-control" id="exampleInputEmail1" placeholder="Email" aria-describedby="emailHelp"><b id="verifying"></b>
          
        </div>
        <div class="form-group">
          <label for="email">Message</label>
          <input type="text" name="message"  class="form-control" id="exampleInputEmail1" placeholder="Message" aria-describedby="emailHelp">
          
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>


      <script>

        function checking(e) {
            
              var xhttp = new XMLHttpRequest();
            
            
            var url='/checkmail?code=' + e ;
             xhttp.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
               console.log(this.responseText);
            if(this.responseText=='True')
           {
             document.getElementById('verifying').innerHTML="verified";
             document.getElementById('verifying').style.color="green";
           }
           else{
       
             document.getElementById('verifying').innerHTML="Email not exist";
             document.getElementById('verifying').style.color="Red";
           }
               
             };
             
           }


           xhttp.open("GET", url, true);
             xhttp.send();


          }
            
        
            
            
            
            </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

  
    

</html>