{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<div class="x col-lg-10">
<!-- {% for i in product3 %}
<div class="row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{product3.image.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product3.name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button  onclick="update(this.id,'add')" id="{{product3.id}}" class="btn btn-warning">Add to cart</button>
    </div>
  </div>
  </div>
{% endfor %} -->



  </div>
  {% endblock content %}
