
{% load static %}



<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>


    <style>
        .row-image{
height: 80px;
width: 100px;

}
    </style>
  </head>
  <body>
    <a href="/" class="btn btn-primary">Home</a>

    {% if user.is_superuser %}

    <div class="container">
       <div class="border rounded p-4 m-4">
            <p class="display-4 pl-4 ml-4">Customer Orders</p>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                    
                        <th>Customer</th>
                        <!-- <th>Date</th>
                        <th>Price</th>
                        <th>Quantity</th> -->
                        <th>Total</th>
                        <th>Discount_price</th>
                        <th>Status</th>
                        <th>Change Status</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for order in orders2 %}
                    <tr>
                      
                        <td>{{order.id}}</td>
<!--                         <td><img  class="rounded-circle row-image" src="{{order.product.image.url}}" alt=""></td>
 -->                        <td>{{order.customer}}</td>
                        <!-- <td>{{order.date_added}}</td>
                        <td>{{order.get_total}}</td>
                        <td>{{order.quantity}}</td> -->
                        <td>{{order.get_cart_total}}</td>
                        <td>{{order.discounted_price}}</td>
                        <td>{{order.status2}}</td>
                       
                       <td>
                        <div class="btn-group">
                           <button type="button" class="btn btn-sm btn-primary">Change</button>
                           <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <span class="sr-only">Toggle Dropdown</span>
                           </button>
                           <div class="dropdown-menu">
                             <a class="dropdown-item" href="/sendstatus?value=preparing&&id={{order.id}}"><small class="badge badge-danger">Preparing</small></a>
                             <a class="dropdown-item" href="/sendstatus?value=prepared&&id={{order.id}}"><small class="badge badge-info">Prepared</small></a>
                             <a class="dropdown-item" href="/sendstatus?value=Out for delivery&&id={{order.id}}"><small class="badge badge-warning">Out for Delivery</small></a>
                             <a class="dropdown-item" href="/sendstatus?value=delivered&&id={{order.id}}"><small class="badge badge-success">Delivered</small></a>

                           </div>
                         </div></td>
                    </tr>
    
                    {% endfor %}
                   
                </tbody>
    
            </table>
           
       </div>
    </div>
    {% else %}
    <div class="container">
       <div class="border rounded p-4 m-4">
            <p class="display-4 pl-4 ml-4">Your Orders</p>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>Product</th>
                        <!-- <th>Date</th>
                        <th>Price</th>
                        <th>Quantity</th> -->
                        <th>Total</th>
                        <th>Paid</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for order in orders %}
                    <tr>
                        <td>{{order.order.id}}</td>
                        <td><img  class="rounded-circle row-image" src="{{order.product.image.url}}" alt=""></td>
                        <td>{{order.product.name}}</td>
                       <!--  <td>{{order.date_added}}</td>
                        <td>{{order.get_total}}</td>
                        <td>{{order.quantity}}</td> -->
                        <td>{{order.order.get_cart_total}}</td>
                      <td>{{order.order.discounted_price}}</td>
                        <td>
                           <!--  <button id={{order.id}} onclick="func1(this.id)"><small  id="btn" class="badge badge-success">{{order.status}}{{order.id}}</small></td></button> -->
                           <a class="dropdown-item" href="/track?value=completed&&id={{order.order.id}}"><small class="badge badge-success">track</small></a>
                          </td> </tr>
    
                    {% endfor %}
                   
                </tbody>
    
            </table>
           
       </div>
    </div>
    {% endif  %}
   

   
   
   <script>
   
   function func1(e){
   
   let socket=new WebSocket(`ws://localhost:8081/ws/test/${e}/`)
   socket.onopen= function(e){
   console.log("connection got")
   
   }
   socket.onmessage= function(e){
   console.log(e)
   var data=JSON.parse(e.data)
   
   document.getElementById('btn').innerHTML=data['dataname']
   
   }
   socket.onclose= function(e){
   console.log("disconnected")
   }}
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>